# 🔔 NEVER COMMIT YOUR API KEYS

# Tiingo API token: https://www.tiingo.com/account/api/token
TIINGO_TOKEN=tiingo_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Financial Modeling Prep API key: https://site.financialmodelingprep.com/developer/docs
FMP_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
